<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hamrokheti">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".LinkActivity" />
        <activity android:name=".TechDetailActivity" />
        <activity android:name=".TechinfoActivity" />
        <activity android:name=".BugsDetailActivity" />
        <activity android:name=".BugsinfoActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".WheatherActivity" />
        <activity android:name=".MordernDashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>